@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

$small: 468px;
$medium: 768px;
$large: 1204px;
$xlarge: 1440px;

@mixin media($breakpoint) {
	@media (max-width: $breakpoint) {
		@content;
	}
}

.fallbackContainer {
	width: 100%;
	height: 100%;
	display: grid;
	grid-template-rows: 85%;

	font-family: courier;
	font-size: 2.5vmin;


	@keyframes App-logo-spin {
		from {
			transform: rotateY(0deg);
		}
		to {
			transform: rotateY(360deg);
		}
	}

	@media (prefers-reduced-motion: no-preference) {
		.App-logo {
			animation: App-logo-spin infinite 20s linear;
		}
	}

	* {place-self: center;}

	.App-logo {
		height: 40%;
		pointer-events: none;
	}
}



#root {
	@include media($medium) {
		// grid-template-rows: 40%;
	}
	width: 100vw;
	height: 100vh;
	display: grid;
	position: relative;
	grid-template-rows: 40%;
	font-family: 'Rubik', sans-serif;

	$lightgrey: hsl(0deg,0%,59%);
	$darkgrey: hsl(0deg,0%,17%);

	 * {place-self: center;}

	 #formContainer {
	 	@include media($medium) {
	 		grid-template-rows: 25%;
	 	}
	 	width: 100%;
	 	height: 100%;
	 	display: grid;
	 	grid-template-rows: 40%;
	 	background-image: url("./media/pattern-bg.png");

	 	header {
	 		@media (max-height: 768px) {font-size: 3vmax}
	 		@include media($medium) {
	 			font-size: 3vmax;
	 		}
	 		font-size: 3em;
	 		text-align: center;
	 		font-weight: 700;
	 		color: white;
	 	}

	 	form {
	 		@include media($medium) {
	 			grid-template-columns: auto 8vh;
	 			width: 85%;
	 		}
	 		place-self: start center;
	 		display: grid;
	 		grid-template-columns: auto auto;

	 		&.error {
	 			@keyframes error {
	 				0% {transform: translate(-5%)}
	 				25% {transform: translate(5%)}
	 				50% {transform: translate(-5%)}
	 				75% {transform: translate(5%)}
	 				100% {transform: translate(0%)}
	 			}

	 			animation: error 0.5s cubic-bezier(0.45, 0.05, 0.55, 0.95) 0s 1 alternate;

	 			& > input:first-of-type {background: hsl(0, 100%, 70%); transition: background 0.5s;}
	 		}


	 		input {
	 			place-self: center;
	 			border-radius: var(--, 0 1em 1em 0);
	 			cursor: pointer;
	 			z-index: 1;
	 			min-height: 35px;
	 			box-shadow: 0px 8px 1.5em -20px $darkgrey;

	 			&:first-of-type {
	 				&:focus {cursor: text}
	 			}

	 			&:focus {
	 				outline: none;
	 			}

	 			&[type="text"] {
		 			@include media($medium) {
		 				width: calc(100% - 6vmin);
		 			}

		 			--: 1em 0 0 1em;
		 			height: calc(8vh);
		 			width: calc(35vw - 8vh);
		 			border: none;
		 			padding: 0 3vmin;
		 			font-size: 1em;
		 			font-family: 'Rubik';

	 				&::placeholder {color: rgba(0,0,0,0.5)}

	 			}
	 			&[type="submit"] {
		 			color: transparent;
		 			height: 8vh;
		 			width: 8vh;
		 			border: none;
		 			background: $darkgrey;
		 			background-image: url("./media/icon-arrow.svg");
		 			background-position: 50%;
		 			background-size: 25%;
		 			background-repeat: no-repeat;

	 			}
	 		}
	 	}
	 }
	 #results {
	 	background: #f2f2f2;
	 	width: 100%;
	 	height: 100%;
	 	display: grid;
	 	grid-template-rows: 0%;
	 	position: relative;
	
		#queryContainer {
			@include media($medium) {
				grid-template-columns: auto;
				height: 35vmax;
				width: 85%;
				transform: translate(0, -18vmax);
				flex-direction: column;
			}
		    position: sticky;
		    z-index: 500;
		    display: flex;
		    flex-direction: row;
		    align-content: flex-start;
		    align-items: center;
		    flex-wrap: nowrap;
		    grid-template-columns: repeat(4, 25%);
		    place-self: start center;
		    height: 22vh;
		    width: 75vw;
		    background: white;
		    transform: translate(0,-10vmin);
		    border-radius: 1em;
		    box-shadow: 0 8px 1.5em -15px $darkgrey;

		    div {
		    	@include media($medium) {
		    		border-left: 0;
		    		grid-gap: 8px;
		    	}
		    	display: grid;
		    	grid-template-rows: 40% 60%;
		    	width: 100%;
		    	height: 50%;

		    	&:nth-child(2) {--:0px}
		    	
		    	&:not(.enclosing) {
		    		border-left: 1px solid lightgrey;
		    		border-right: var(--, 1px) solid lightgrey;
		    	}

		    	h4, h6 {

		    		@include media($medium) {
		    			justify-content: center !important;
		    			transform: none !important;
		    			padding: 0 !important;
	    				text-align: center;
	    				width: 100%;
		    		}
		    		width: calc(100% - 64px);
		    		padding: 0 32px;
		    		margin: 0;
		    		place-self: center;
		    		color: $darkgrey;
		    	}
		    	h4 {
		    		@include media($medium) {font-size: 1.45em !important}
		    		@media (max-height: 768px) {
		    			font-size: 3.5vmin;
		    		}
		    		height: 120%;
		    		display: flex;
		    		justify-content: flex-start;
		    		font-size: 1.78em;
		    		font-weight: 500;
		    		transform: translate(0,-2vh);

		    		span.loading {
		    			@include media($medium) {
		    				place-self: center;
		    			}
		    			width: 70%;
		    			height: 100%;
		    			place-self: start;
		    			background: rgba(0,0,0, 0.1);
		    			display: block;
		    			position: relative;
		    			border-radius: 0.2em;
		    			--: 10%;

		    			&::before, &::after {

		    				@keyframes loading {
								from {}
								to {transform: scaleX(1.5)translate(30%)}
		    				}

		    				position: absolute;
		    				content: '';
		    				height: 5px;
		    				background: rgba(0,0,0,0.1);
		    				left: 8px;
		    				border-radius: 3em;
		    				animation: loading 1.25s ease infinite alternate;
		    			}

		    			&::before {width: 25%; top: calc(24%)}
		    			&::after {width: 50%; top: calc(59%)}

		    		}

		    	}
		    	h6 {
		    		color: $lightgrey;
		    		font-size:0.75em;
		    		place-self: end start; 
		    		transform:translate(0,-4vh)
		    	}
		    }
		}
		#map {
			width: 100%;
			height: 100%;
			.leaflet-top {top: 50%}
		}
	 }
}


